Repository googleapis/nodejs-dlp, pull requests merged in 2020-11, with the labels that each got.

#558 build(node): add KOKORO_BUILD_ARTIFACTS_SUBDIR to env
  .kokoro/trampoline_v2.sh
  synth.metadata
Labels: api: dlp, automerge, cla: yes, context: full

#560 fix: do not modify options object, use defaultScopes
  package.json
  src/index.ts
  src/v2/dlp_service_client.ts
  synth.metadata
  system-test/fixtures/sample/src/index.ts
  system-test/install.ts
Labels: api: dlp, automerge, cla: yes

#563 fix(window): check for fetch on window
  protos/protos.json
  src/v2/dlp_service_client.ts
  synth.metadata
Labels: api: dlp, cla: yes, context: none

#565 docs: spelling correction for "targetting"
  README.md
  synth.metadata
Labels: api: dlp, automerge, cla: yes, context: full
